.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
**/*.ts
!dist/**/*.ts
node_modules/**
.eslintrc.json
**/node_modules/**
**/.git/**
**/.vscode/**
../../**
!../../LICENSE
